$font-family-base: "Kaisei HarunoUmi", serif;
$font-family-title: "Kaushan Script", cursive;

$font-size-base: 16px;
$line-hight-base: 1.7;

$width-inner: 1080px;
$header-heights: 60px;

$bg-gray: rgba(218, 218, 218, 0.8);

// Black → #000000
// White → #ffffff

